.title {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: rgb(175 47 47 / 15%);
  -webkit-text-rendering: optimizelegibility;
  -moz-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
}

.form {
  display: flex;
}

.input-time {
  border: none;
  width: 15%;
  padding-left: 16px;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
}

.input {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  padding: 6px;
  border: none;
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgb(0 0 0 / 0.3%);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}
