.icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.icon-pause {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.icon-pause::after {
  content: '⏸';
}

.icon-play::after {
  content: '▶';
}

.icon {
  color: #cc9a9a;
  margin: auto 0;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.description {
  font-size: 13px;
  color: gray;
}
